* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #018081;
    overflow: hidden;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.desktop {
    position: relative;
    flex-grow: 1;
}

.window.notepad-window {
    position: absolute !important;
    top: 10%;
    left: 20%;
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 600px;
    z-index: 2;
}

.title-bar-text p {
    margin: 0;
    padding: 0;
    cursor: default;
}

.title-bar-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    user-select: none;
}

.notepad-window .window-body {
    margin: 0 !important;
    flex-grow: 1;
    overflow: scroll;
}

.options {
    display: flex;
    flex-direction: row;
    gap: 5px;
    user-select: none;
}

.options p {
    margin: 0;
    padding: 5px;
    cursor: pointer;
}

.field-row-stacked {
    width: 100% !important;
    height: 100% !important;
    display: flex;
}

@font-face {
    font-family: 'Fixedsys Excelsior 3.01';
    src: url(fonts/FSEX.ttf);
    font-weight: normal;
    font-style: normal;
}

:root {
    --button-face: #dfdfdf;
    --button-highlight: #ffffff;
    --button-shadow: #808080;
    --window-frame: #0a0a0a;
    --border-field: inset -1px -1px var(--button-highlight),
    inset 1px 1px var(--button-shadow), inset -2px -2px var(--button-face),
    inset 2px 2px var(--window-frame);
}

.text-area:focus {
    outline: none;
}

.text-area {
    padding: 3px 4px;
    border: none;
    box-shadow: var(--border-field);
    background-color: var(--button-highlight);
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    flex-grow: 1 !important;
}

.field-row-stacked .text-area {
    font-weight: normal;
    font-size: 16px;

    font-family:'Fixedsys Excelsior 3.01';
}

.text-area p {
    margin: 0;
    padding: 0;
}



.window100 {
    left: 0 !important;
    top: 0 !important;
    width: 100% !important;
    height: 100% !important;

}

.text100 {
    width: 100% !important;
    flex-grow: 1 !important;
}

.removeSelection {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0 !important;
}

.icons {
    position: relative;
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
    z-index: 1 !important;
    padding-top: 5px;
}

.icon {
    height: fit-content !important;
    width: 70px;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    text-align: center;
    cursor: default;
    gap: 5px;

    user-select: none;
}

.icon img {
    height: 42px;
    width: auto;
    user-select: none;
}

.icon p {
    color: white;
    font-size: 11px;
    font-family: "Pixelated MS Sans Serif", Arial;
}

.iconClickColor {
    background-color: #000080;
}

.window-error { 
    position: absolute !important;
    display: flex;
    flex-direction: column;
    top: 20%;
    left: 30%;
    height: 125px;
    width: 350px;
    z-index: 2;
}

.window-error .window-body {
    margin: 0;
    padding: 10px;

    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.window-body button {
    margin: 5px !important;
    width: 60px;
    margin-top: auto !important;
}

.error-main {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.error-message {
    display: flex;
}

.window-top {
    z-index: 5 !important;
}

@media only screen and (max-width: 600px) {
    .window-error {
        top: 30%;
        left: 2%;
    }

    .notepad-window {
        top: 5% !important;
        left: 5% !important;
    }

}






.taskbar {
    height: 30px;
    width: 100%;
    background: silver;
    margin-top: auto;
    box-shadow: rgb(255, 255, 255) 0px 3px inset;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 3px;
    padding-right: 3px;
    z-index: 100;
    justify-content: space-between;
}

.taskbar-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.taskbar-icons {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.taskbar-icons img {
    user-select: none;
    height: 19px;
}

.taskbar-left button {
    user-select: none;
    height: 25px;
    width: 80px;
    padding: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.taskbar-left button span {
    user-select: none;
    font-size: 15px;
    font-weight: 700;
}

.taskbar-left button img {
    user-select: none;
    height: 25px;
}

.taskbar-separator {
    width: 4px;
    height: 20px;
    box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px grey, inset 2px 2px #dfdfdf;
}

button.active {
    margin-right: 6px;
    height: 25px;
    width: 100px;
    box-shadow: inset -1px -1px #ffffff, inset 1px 1px #0a0a0a, inset -2px -2px #dfdfdf, inset 2px 2px #808080;
}

.taskbar-right button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.taskbar-right button img {
    height: 19px;
    user-select: none;
}

.time {
    user-select: none;
    font-size: 11px;
    font-weight: lighter;
}